body {
  min-height: 100%;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

.formContainer {
  width: 50%;
  text-align: center;
}
.centerForm {
  display: flex;
  justify-content: center;
}
html {
  position: relative;
  min-height: 100%;
}
